{% extends "base/_base.html" %}

{% block content %} 
<!-- hero section -->
<div class="grid grid-cols-2">
    <div>
        <span class="text-4xl font-bold">متحصص PHP</span>
        <p class="text-2xl my-10">تمام آنچه که برای تبدیل شدن به PHP DEVELOPER نیاز دارید</p>
        <a class="inline-flex items-center justify-between px-8 py-3 text-base font-light text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:ring-blue-300" href="">
            <span>مشاهده سرفصل های دوره</span>
            <svg class="w-7 h-7" fill="white" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
                <style>
                .cls-1 {
                    fill: none;
                }
                </style>
            </defs>
            <polygon points="22 27.1798 19.41 24.5899 18 26 22 30 30 22 28.5899 20.59 22 27.1798"/>
            <rect x="9" y="17" width="7" height="2"/>
            <rect x="9" y="12" width="12" height="2"/>
            <rect x="9" y="7" width="12" height="2"/>
            <path d="m16,30H6c-1.103,0-2-.8972-2-2V4c0-1.1028.897-2,2-2h18c1.103,0,2,.8972,2,2v15h-2V4H6v24h10v2Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&amp;lt;Transparent Rectangle&amp;gt;" class="cls-1 bg-white" width="32" height="32"/>
            </svg>
        </a>
        <div class="flex justify-start items-center text-xl my-10">
            کد دوره:
            <span class="font-bold mr-4">FKG555F</span>
        </div>
        <div class="flex gap-2 items-center my-4">
            <div class="bg-blue-500 h-10 w-10"></div>
            مربی:
            <span >سینا کرمیان</span>
        </div>
    </div>
    <figure class="flex justify-end">
        <img class="w-full h-auto" src="https://i.ibb.co/1bspL6f/christopher-gower-m-HRf-Lhg-ABo-unsplash.jpg" alt="">
    </figure>
</div>
<!-- competitive advantages -->
<div class="grid grid-cols-4 gap-1 my-8">
    <!-- item1 -->
    <div class="grid grid-cols-2 p-1 border-2">
        <figure>
            <img class="w-full h-auto" src="https://i.ibb.co/F76KLfn/learning.png" alt="">
        </figure>
        <div class="grid grid-rows-2 mx-4">
            <span>لیگ دوره ای</span>
            <div class="flex items-end justify-end">
            <svg id="icon" class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <defs>
                <style>
                    .cls-1 {
                    fill: none;
                    }
                </style>
                </defs>
                <path d="M23.499,9.085,16.707,2.293A1,1,0,0,0,16,2H6A2.0058,2.0058,0,0,0,4,4V28a2.0058,2.0058,0,0,0,2,2h8V28H6V4h8v6a2.0023,2.0023,0,0,0,2,2h6.292a1.7075,1.7075,0,0,0,1.207-2.915ZM16,10V4.4141L21.5854,10Z" transform="translate(0 0)"/>
                <path d="M28,21H22V18a2,2,0,0,1,4,0h2a4,4,0,0,0-8,0v3a2.0025,2.0025,0,0,0-2,2v5a2.0025,2.0025,0,0,0,2,2h8a2.0025,2.0025,0,0,0,2-2V23A2.0025,2.0025,0,0,0,28,21Zm-8,7V23h8v5Z" transform="translate(0 0)"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
            </svg>
            </div>
        </div>
    </div>
    <!-- item2 -->
    <div class="grid grid-cols-2 p-1 border-2">
        <figure>
            <img class="w-full h-auto" src="https://i.ibb.co/F76KLfn/learning.png" alt="">
        </figure>
        <div class="grid grid-rows-2 mx-4">
            <span>لیگ دوره ای</span>
            <div class="flex items-end justify-end">
            <svg id="icon" class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <defs>
                <style>
                    .cls-1 {
                    fill: none;
                    }
                </style>
                </defs>
                <path d="M23.499,9.085,16.707,2.293A1,1,0,0,0,16,2H6A2.0058,2.0058,0,0,0,4,4V28a2.0058,2.0058,0,0,0,2,2h8V28H6V4h8v6a2.0023,2.0023,0,0,0,2,2h6.292a1.7075,1.7075,0,0,0,1.207-2.915ZM16,10V4.4141L21.5854,10Z" transform="translate(0 0)"/>
                <path d="M28,21H22V18a2,2,0,0,1,4,0h2a4,4,0,0,0-8,0v3a2.0025,2.0025,0,0,0-2,2v5a2.0025,2.0025,0,0,0,2,2h8a2.0025,2.0025,0,0,0,2-2V23A2.0025,2.0025,0,0,0,28,21Zm-8,7V23h8v5Z" transform="translate(0 0)"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
            </svg>
            </div>
        </div>
    </div>
    <!-- item3 -->
    <div class="grid grid-cols-2 p-1 border-2">
        <figure>
            <img class="w-full h-auto" src="https://i.ibb.co/F76KLfn/learning.png" alt="">
        </figure>
        <div class="grid grid-rows-2 mx-4">
            <span>لیگ دوره ای</span>
            <div class="flex items-end justify-end">
            <svg id="icon" class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <defs>
                <style>
                    .cls-1 {
                    fill: none;
                    }
                </style>
                </defs>
                <path d="M23.499,9.085,16.707,2.293A1,1,0,0,0,16,2H6A2.0058,2.0058,0,0,0,4,4V28a2.0058,2.0058,0,0,0,2,2h8V28H6V4h8v6a2.0023,2.0023,0,0,0,2,2h6.292a1.7075,1.7075,0,0,0,1.207-2.915ZM16,10V4.4141L21.5854,10Z" transform="translate(0 0)"/>
                <path d="M28,21H22V18a2,2,0,0,1,4,0h2a4,4,0,0,0-8,0v3a2.0025,2.0025,0,0,0-2,2v5a2.0025,2.0025,0,0,0,2,2h8a2.0025,2.0025,0,0,0,2-2V23A2.0025,2.0025,0,0,0,28,21Zm-8,7V23h8v5Z" transform="translate(0 0)"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
            </svg>
            </div>
        </div>
    </div>
    <!-- item4 -->
    <div class="grid grid-cols-2 p-1 border-2">
        <figure>
            <img class="w-full h-auto" src="https://i.ibb.co/F76KLfn/learning.png" alt="">
        </figure>
        <div class="grid grid-rows-2 mx-4">
            <span>لیگ دوره ای</span>
            <div class="flex items-end justify-end">
            <svg id="icon" class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <defs>
                <style>
                    .cls-1 {
                    fill: none;
                    }
                </style>
                </defs>
                <path d="M23.499,9.085,16.707,2.293A1,1,0,0,0,16,2H6A2.0058,2.0058,0,0,0,4,4V28a2.0058,2.0058,0,0,0,2,2h8V28H6V4h8v6a2.0023,2.0023,0,0,0,2,2h6.292a1.7075,1.7075,0,0,0,1.207-2.915ZM16,10V4.4141L21.5854,10Z" transform="translate(0 0)"/>
                <path d="M28,21H22V18a2,2,0,0,1,4,0h2a4,4,0,0,0-8,0v3a2.0025,2.0025,0,0,0-2,2v5a2.0025,2.0025,0,0,0,2,2h8a2.0025,2.0025,0,0,0,2-2V23A2.0025,2.0025,0,0,0,28,21Zm-8,7V23h8v5Z" transform="translate(0 0)"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
            </svg>
            </div>
        </div>
    </div>
    <!-- item5 -->
    <div class="grid grid-cols-2 p-1 border-2">
        <figure>
            <img class="w-full h-auto" src="https://i.ibb.co/F76KLfn/learning.png" alt="">
        </figure>
        <div class="grid grid-rows-2 mx-4">
            <span>لیگ دوره ای</span>
            <div class="flex items-end justify-end">
            <svg id="icon" class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <defs>
                <style>
                    .cls-1 {
                    fill: none;
                    }
                </style>
                </defs>
                <path d="M23.499,9.085,16.707,2.293A1,1,0,0,0,16,2H6A2.0058,2.0058,0,0,0,4,4V28a2.0058,2.0058,0,0,0,2,2h8V28H6V4h8v6a2.0023,2.0023,0,0,0,2,2h6.292a1.7075,1.7075,0,0,0,1.207-2.915ZM16,10V4.4141L21.5854,10Z" transform="translate(0 0)"/>
                <path d="M28,21H22V18a2,2,0,0,1,4,0h2a4,4,0,0,0-8,0v3a2.0025,2.0025,0,0,0-2,2v5a2.0025,2.0025,0,0,0,2,2h8a2.0025,2.0025,0,0,0,2-2V23A2.0025,2.0025,0,0,0,28,21Zm-8,7V23h8v5Z" transform="translate(0 0)"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
            </svg>
            </div>
        </div>
    </div>
    <!-- item6 -->
    <div class="grid grid-cols-2 p-1 border-2">
        <figure>
            <img class="w-full h-auto" src="https://i.ibb.co/F76KLfn/learning.png" alt="">
        </figure>
        <div class="grid grid-rows-2 mx-4">
            <span>لیگ دوره ای</span>
            <div class="flex items-end justify-end">
            <svg id="icon" class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <defs>
                <style>
                    .cls-1 {
                    fill: none;
                    }
                </style>
                </defs>
                <path d="M23.499,9.085,16.707,2.293A1,1,0,0,0,16,2H6A2.0058,2.0058,0,0,0,4,4V28a2.0058,2.0058,0,0,0,2,2h8V28H6V4h8v6a2.0023,2.0023,0,0,0,2,2h6.292a1.7075,1.7075,0,0,0,1.207-2.915ZM16,10V4.4141L21.5854,10Z" transform="translate(0 0)"/>
                <path d="M28,21H22V18a2,2,0,0,1,4,0h2a4,4,0,0,0-8,0v3a2.0025,2.0025,0,0,0-2,2v5a2.0025,2.0025,0,0,0,2,2h8a2.0025,2.0025,0,0,0,2-2V23A2.0025,2.0025,0,0,0,28,21Zm-8,7V23h8v5Z" transform="translate(0 0)"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
            </svg>
            </div>
        </div>
    </div>
    <!-- item7 -->
    <div class="grid grid-cols-2 p-1 border-2">
        <figure>
            <img class="w-full h-auto" src="https://i.ibb.co/F76KLfn/learning.png" alt="">
        </figure>
        <div class="grid grid-rows-2 mx-4">
            <span>لیگ دوره ای</span>
            <div class="flex items-end justify-end">
            <svg id="icon" class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <defs>
                <style>
                    .cls-1 {
                    fill: none;
                    }
                </style>
                </defs>
                <path d="M23.499,9.085,16.707,2.293A1,1,0,0,0,16,2H6A2.0058,2.0058,0,0,0,4,4V28a2.0058,2.0058,0,0,0,2,2h8V28H6V4h8v6a2.0023,2.0023,0,0,0,2,2h6.292a1.7075,1.7075,0,0,0,1.207-2.915ZM16,10V4.4141L21.5854,10Z" transform="translate(0 0)"/>
                <path d="M28,21H22V18a2,2,0,0,1,4,0h2a4,4,0,0,0-8,0v3a2.0025,2.0025,0,0,0-2,2v5a2.0025,2.0025,0,0,0,2,2h8a2.0025,2.0025,0,0,0,2-2V23A2.0025,2.0025,0,0,0,28,21Zm-8,7V23h8v5Z" transform="translate(0 0)"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
            </svg>
            </div>
        </div>
    </div>
    <!-- item8 -->
    <div class="grid grid-cols-2 p-1 border-2">
        <figure>
            <img class="w-full h-auto" src="https://i.ibb.co/F76KLfn/learning.png" alt="">
        </figure>
        <div class="grid grid-rows-2 mx-4">
            <span>لیگ دوره ای</span>
            <div class="flex items-end justify-end">
            <svg id="icon" class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <defs>
                <style>
                    .cls-1 {
                    fill: none;
                    }
                </style>
                </defs>
                <path d="M23.499,9.085,16.707,2.293A1,1,0,0,0,16,2H6A2.0058,2.0058,0,0,0,4,4V28a2.0058,2.0058,0,0,0,2,2h8V28H6V4h8v6a2.0023,2.0023,0,0,0,2,2h6.292a1.7075,1.7075,0,0,0,1.207-2.915ZM16,10V4.4141L21.5854,10Z" transform="translate(0 0)"/>
                <path d="M28,21H22V18a2,2,0,0,1,4,0h2a4,4,0,0,0-8,0v3a2.0025,2.0025,0,0,0-2,2v5a2.0025,2.0025,0,0,0,2,2h8a2.0025,2.0025,0,0,0,2-2V23A2.0025,2.0025,0,0,0,28,21Zm-8,7V23h8v5Z" transform="translate(0 0)"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
            </svg>
            </div>
        </div>
    </div>
</div>
<!-- course description -->
<div class="my-2">
    <div class="flex items-center gap-2">
        <svg fill="black" class="w-10 h-10" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1 {
                fill: none;
                }
            </style>
            </defs>
            <polygon points="22 27.1798 19.41 24.5899 18 26 22 30 30 22 28.5899 20.59 22 27.1798"/>
            <rect x="9" y="17" width="7" height="2"/>
            <rect x="9" y="12" width="12" height="2"/>
            <rect x="9" y="7" width="12" height="2"/>
            <path d="m16,30H6c-1.103,0-2-.8972-2-2V4c0-1.1028.897-2,2-2h18c1.103,0,2,.8972,2,2v15h-2V4H6v24h10v2Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&amp;lt;Transparent Rectangle&amp;gt;" class="cls-1 bg-white" width="32" height="32"/>
        </svg>
        <h2 class="text-2xl font-bold">
            آشنایی با دوره 
        </h2>
        <h3 class="text-2xl font-bold">متحصص PHP</h3>
    </div>
    <div class="grid grid-cols-2 my-4">
        <div class="text-xl h-full p-4">
            <p>اغراق نیست اگر زبان برنامه‌نویسی PHP را پرچم‌دار حوزه Back-End بدانیم زیرا کاربرد آن به‌قدری گسترده است که درایران سایت‌هایی مانند دیجی‌کالا، اسنپ و در جهان سایت‌های بزرگی مانند
            فیس‌بوک و پینترست به آن اعتماد  کرده‌اند. استفاده از این زبان در پروژه‌های بزرگ نشان می‌دهد که یادگیری PHP برای علاقه‌مندان حوزه وب ضروری به  نظر می‌رسد. ما برای صرفه‌جویی در زمان
            باید بهترین راه یادگیری PHP را انتخاب کرده و از بهترین منابع آموزش PHP استفاده کنیم.
            </p>
            <p>اغراق نیست اگر زبان برنامه‌نویسی PHP را پرچم‌دار حوزه Back-End بدانیم زیرا کاربرد آن به‌قدری گسترده است که درایران سایت‌هایی مانند دیجی‌کالا، اسنپ و در جهان سایت‌های بزرگی مانند
            فیس‌بوک و پینترست به آن اعتماد  کرده‌اند. استفاده از این زبان در پروژه‌های بزرگ نشان می‌دهد که یادگیری PHP برای علاقه‌مندان حوزه وب ضروری به  نظر می‌رسد. ما برای صرفه‌جویی در زمان
            باید بهترین راه یادگیری PHP را انتخاب کرده و از بهترین منابع آموزش PHP استفاده کنیم.
            </p>
        </div>
        <figure>
            <img class="h-auto w-full" src="https://i.ibb.co/1bspL6f/christopher-gower-m-HRf-Lhg-ABo-unsplash.jpg" alt="">
        </figure>
    </div>
</div>
<!-- course content -->
<div class="my-8 pt-4 border-t-2">
    <div class="flex items-center gap-4">
        <svg id="icon" class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1 {
                fill: none;
                }
            </style>
            </defs>
            <path d="M28,30H4a2.0021,2.0021,0,0,1-2-2V20a2.0021,2.0021,0,0,1,2-2H28a2.0021,2.0021,0,0,1,2,2v8A2.0021,2.0021,0,0,1,28,30ZM4,20H3.9985L4,28H28V20Z"/>
            <path d="M28,14H4a2.0021,2.0021,0,0,1-2-2V4A2.0021,2.0021,0,0,1,4,2H28a2.0021,2.0021,0,0,1,2,2v8A2.0021,2.0021,0,0,1,28,14ZM4,4H3.9985L4,12H28V4Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <span class="text-2xl font-bold">سرفصل های دوره</span>
    </div>
    <!-- lessons -->
    <div>
        <!-- lesson1 -->
        <details class="group p-4">
            <summary class="flex flex-row justify-between items-center p-4 w-full cursor-pointer bg-zinc-100 border-2 border-zinc-300 text-black hover:bg-zinc-200">
                <div class="flex flex-row justify-start">
                    <figure class="w-1/4">
                        <img class="w-full h-auto" src="https://i.ibb.co/zJfxxtm/hero-section.jpg" alt="">
                    </figure>
                    <div class="p-4">
                        <div class="flex items-center gap-2">
                            <svg class="rotate-180 w-10 h-10" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                <defs>
                                    <style>
                                    .cls-1 {
                                        fill: none;
                                    }
                                    </style>
                                </defs>
                                <path d="M30,10V2H22V5H17a2.0023,2.0023,0,0,0-2,2v8H10V12H2v8h8V17h5v8a2.0023,2.0023,0,0,0,2,2h5v3h8V22H22v3H17V17h5v3h8V12H22v3H17V7h5v3ZM8,18H4V14H8Zm16,6h4v4H24Zm0-10h4v4H24ZM24,4h4V8H24Z"/>
                                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                            </svg>
                            <span>فصل اول</span>-
                            <span>یک هفته</span>
                        </div>
                        <div class="my-4">
                            <p>قدم 
                            <span class="text-2xl">صفر</span>
                            :
                            <span>آشنایی با مسیر و پیش‌نیازهای آن</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col justify-between items-end p-6 h-52">
                    <div class="flex flex-row gap-2">
                        <svg id="icon" class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1{fill:none;}
                            </style>
                            </defs>
                            <title>
                            time
                            </title>
                            <path d="M16,30A14,14,0,1,1,30,16,14,14,0,0,1,16,30ZM16,4A12,12,0,1,0,28,16,12,12,0,0,0,16,4Z"/>
                            <polygon points="20.59 22 15 16.41 15 7 17 7 17 15.58 22 20.59 20.59 22"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>
                        <h2 class="text-xl font-bold">
                            <span class="text-xl font-bold">13</span>
                            ساعت
                        </h2>
                    </div>
                    <svg class="w-6 h-6 shrink-0 group-open:rotate-180" fill="black" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd">
                        </path>
                    </svg>
                </div>
            </summary>
            <!-- open accordion -->
            <div class="panel overflow-hidden">
                <div class="grid grid-cols-2 py-1">
                    <div class="flex flex-row border-2 border-zinc-300 px-4 py-2 hover:bg-zinc-200">
                        <figure class="w-full h-full">
                            <img class="w-full h-auto" src="https://i.ibb.co/zJfxxtm/hero-section.jpg" alt="">
                        </figure>
                        <div class="flex flex-col gap-2 p-2">
                            <div class="flex flex-row gap-2">
                                <svg class="rotate-90 w-8 h-8" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                    <defs>
                                    <style>
                                        .cls-1 {
                                        fill: none;
                                        }
                                    </style>
                                    </defs>
                                    <path d="M30,10V2H22V5H17a2.0023,2.0023,0,0,0-2,2v8H10V12H2v8h8V17h5v8a2.0023,2.0023,0,0,0,2,2h5v3h8V22H22v3H17V17h5v3h8V12H22v3H17V7h5v3ZM8,18H4V14H8Zm16,6h4v4H24Zm0-10h4v4H24ZM24,4h4V8H24Z"/>
                                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                                </svg>
                                <h2 class="flex items-center text-xl font-bold">درس اول</h2>
                            </div>
                            <h2 class="mr-8">اهمیت هدف گذاری و انتخاب مسیر</h2>
                            <p class="mr-8">پروژه‌های بزرگ نشان می‌دهد که یادگیری PHP برای علاقه‌مندان حوزه وب ضروری به نظر می‌رسد پروژه‌های بزرگ نشان می‌دهد که یادگیری PHP برای علاقه‌مندان حوزه وب ضروری به نظر می‌رسد پروژه‌های بزرگ نشان می‌دهد که یادگیری PHP برای علاقه‌مندان حوزه وب ضروری به نظر می‌رسد</p>
                        </div>
                    </div>
                    <div class="flex flex-row border-2 border-zinc-300 px-4 py-2 hover:bg-zinc-200">
                        <figure class="w-full h-full">
                            <img class="w-full h-auto" src="https://i.ibb.co/zJfxxtm/hero-section.jpg" alt="">
                        </figure>
                        <div class="flex flex-col gap-2 p-2">
                            <div class="flex flex-row gap-2">
                                <svg class="rotate-90 w-8 h-8" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                    <defs>
                                    <style>
                                        .cls-1 {
                                        fill: none;
                                        }
                                    </style>
                                    </defs>
                                    <path d="M30,10V2H22V5H17a2.0023,2.0023,0,0,0-2,2v8H10V12H2v8h8V17h5v8a2.0023,2.0023,0,0,0,2,2h5v3h8V22H22v3H17V17h5v3h8V12H22v3H17V7h5v3ZM8,18H4V14H8Zm16,6h4v4H24Zm0-10h4v4H24ZM24,4h4V8H24Z"/>
                                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                                </svg>
                                <h2 class="flex items-center text-xl font-bold">درس اول</h2>
                            </div>
                            <h2 class="mr-8">اهمیت هدف گذاری و انتخاب مسیر</h2>
                            <p class="mr-8">پروژه‌های بزرگ نشان می‌دهد که یادگیری PHP برای علاقه‌مندان حوزه وب ضروری به نظر می‌رسد پروژه‌های بزرگ نشان می‌دهد که یادگیری PHP برای علاقه‌مندان حوزه وب ضروری به نظر می‌رسد پروژه‌های بزرگ نشان می‌دهد که یادگیری PHP برای علاقه‌مندان حوزه وب ضروری به نظر می‌رسد</p>
                        </div>
                    </div>
                    <div class="flex flex-row border-2 border-zinc-300 px-4 py-2 hover:bg-zinc-200">
                        <figure class="w-full h-full">
                            <img class="w-full h-auto" src="https://i.ibb.co/zJfxxtm/hero-section.jpg" alt="">
                        </figure>
                        <div class="flex flex-col gap-2 p-2">
                            <div class="flex flex-row gap-2">
                                <svg class="rotate-90 w-8 h-8" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                    <defs>
                                    <style>
                                        .cls-1 {
                                        fill: none;
                                        }
                                    </style>
                                    </defs>
                                    <path d="M30,10V2H22V5H17a2.0023,2.0023,0,0,0-2,2v8H10V12H2v8h8V17h5v8a2.0023,2.0023,0,0,0,2,2h5v3h8V22H22v3H17V17h5v3h8V12H22v3H17V7h5v3ZM8,18H4V14H8Zm16,6h4v4H24Zm0-10h4v4H24ZM24,4h4V8H24Z"/>
                                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                                </svg>
                                <h2 class="flex items-center text-xl font-bold">درس اول</h2>
                            </div>
                            <h2 class="mr-8">اهمیت هدف گذاری و انتخاب مسیر</h2>
                            <p class="mr-8">پروژه‌های بزرگ نشان می‌دهد که یادگیری PHP برای علاقه‌مندان حوزه وب ضروری به نظر می‌رسد پروژه‌های بزرگ نشان می‌دهد که یادگیری PHP برای علاقه‌مندان حوزه وب ضروری به نظر می‌رسد پروژه‌های بزرگ نشان می‌دهد که یادگیری PHP برای علاقه‌مندان حوزه وب ضروری به نظر می‌رسد</p>
                        </div>
                    </div>
                    <div class="flex flex-row border-2 border-zinc-300 px-4 py-2 hover:bg-zinc-200">
                        <figure class="w-full h-full">
                            <img class="w-full h-auto" src="https://i.ibb.co/zJfxxtm/hero-section.jpg" alt="">
                        </figure>
                        <div class="flex flex-col gap-2 p-2">
                            <div class="flex flex-row gap-2">
                                <svg class="rotate-90 w-8 h-8" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                    <defs>
                                    <style>
                                        .cls-1 {
                                        fill: none;
                                        }
                                    </style>
                                    </defs>
                                    <path d="M30,10V2H22V5H17a2.0023,2.0023,0,0,0-2,2v8H10V12H2v8h8V17h5v8a2.0023,2.0023,0,0,0,2,2h5v3h8V22H22v3H17V17h5v3h8V12H22v3H17V7h5v3ZM8,18H4V14H8Zm16,6h4v4H24Zm0-10h4v4H24ZM24,4h4V8H24Z"/>
                                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                                </svg>
                                <h2 class="flex items-center text-xl font-bold">درس اول</h2>
                            </div>
                            <h2 class="mr-8">اهمیت هدف گذاری و انتخاب مسیر</h2>
                            <p class="mr-8">پروژه‌های بزرگ نشان می‌دهد که یادگیری PHP برای علاقه‌مندان حوزه وب ضروری به نظر می‌رسد پروژه‌های بزرگ نشان می‌دهد که یادگیری PHP برای علاقه‌مندان حوزه وب ضروری به نظر می‌رسد پروژه‌های بزرگ نشان می‌دهد که یادگیری PHP برای علاقه‌مندان حوزه وب ضروری به نظر می‌رسد</p>
                        </div>
                    </div>
                </div>
            </div>
        </details>
    </div>
</div>
<!-- register and subscription -->
<div class="grid grid-cols-3 border-t-2 py-4">
    <div class="col-span-1 border-l-2">
        <h2 class="text-2xl font-bold my-8">ثبت نام در متحصص PHP</h2>
        <p>سرمایه‌گذاری روی مهارت‌هایتان،
            یک تصمیم هوشمندانه است!
        </p>
        <p>با خرید اشتراک می توانید از 
            امکانات دوره استفاده کنید.
        </p>
        <div class="my-4">
            <svg id="icon" class="w-24 h-24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <defs>
                    <style>
                    .cls-1{fill:none;}
                    </style>
                </defs>
                <title>
                    exit
                </title>
                <rect x="26" y="4" width="2" height="24"/>
                <polygon points="11.414 20.586 7.828 17 22 17 22 15 7.828 15 11.414 11.414 10 10 4 16 10 22 11.414 20.586"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
            </svg>
        </div>
    </div>
    <div class="grid grid-cols-2 col-span-2">
        <div class="p-4 m-2 border-2">
            <div class="flex justify-between border-b-2">
                <span class="text-xl font-bold">سه ماهه</span>
                <svg class="w-10 h-10" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <defs>
                    <style>
                        .cls-1{fill:none;}
                    </style>
                    </defs>
                    <title>
                    shopping--cart
                    </title>
                    <circle cx="10" cy="28" r="2"/>
                    <circle cx="24" cy="28" r="2"/>
                    <path d="M28,7H5.82L5,2.8A1,1,0,0,0,4,2H0V4H3.18L7,23.2A1,1,0,0,0,8,24H26V22H8.82L8,18H26a1,1,0,0,0,1-.78l2-9A1,1,0,0,0,28,7Zm-2.8,9H7.62L6.22,9H26.75Z"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
            </div>
            <div>
                <div>
                    قیمت:
                    <span class="underline">252</span>
                    هزار تومان
                </div>
                <div class="my-8">
                    <div class="flex gap-2">
                    <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <defs>
                        <style>
                            .cls-1 {
                            fill: none;
                            }
                        </style>
                        </defs>
                        <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                        <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                        <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                        <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                    </svg>                
                    <span>توضیحات</span>
                    </div>
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                </div>
            </div>
            <a class="flex items-center justify-between px-4 py-3 text-base font-light text-center border-2 border-blue-700 text-blue-700 hover:bg-blue-100 focus:ring-2 focus:ring-blue-300" href="">
                <span>خرید و ثبت اشتراک</span>
                <svg fill="blue" class="w-7 h-7" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <defs>
                    <style>
                        .cls-1 {
                        fill: none;
                        }
                    </style>
                    </defs>
                    <circle cx="10" cy="28" r="2"/>
                    <circle cx="24" cy="28" r="2"/>
                    <path d="M4.9806,2.8039A1,1,0,0,0,4,2H0V4H3.18L7.0194,23.1961A1,1,0,0,0,8,24H26V22H8.82l-.8-4H26a1,1,0,0,0,.9762-.783L29.2445,7H27.1971l-1.9989,9H7.62Z" transform="translate(0)"/>
                    <polygon points="21.586 6.586 18 10.172 18 2 16 2 16 10.172 12.414 6.586 11 8 17 14 23 8 21.586 6.586"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
            </a>
        </div>
        <div class="p-4 m-2 border-2">
            <div class="flex justify-between border-b-2">
                <span class="text-xl font-bold">سه ماهه</span>
                <svg class="w-10 h-10" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <defs>
                    <style>
                        .cls-1{fill:none;}
                    </style>
                    </defs>
                    <title>
                    shopping--cart
                    </title>
                    <circle cx="10" cy="28" r="2"/>
                    <circle cx="24" cy="28" r="2"/>
                    <path d="M28,7H5.82L5,2.8A1,1,0,0,0,4,2H0V4H3.18L7,23.2A1,1,0,0,0,8,24H26V22H8.82L8,18H26a1,1,0,0,0,1-.78l2-9A1,1,0,0,0,28,7Zm-2.8,9H7.62L6.22,9H26.75Z"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
            </div>
            <div>
                <div>
                    قیمت:
                    <span class="underline">252</span>
                    هزار تومان
                </div>
                <div class="my-8">
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                </div>
            </div>
            <a class="flex items-center justify-between px-4 py-3 text-base font-light text-center border-2 border-blue-700 text-blue-700 hover:bg-blue-100 focus:ring-2 focus:ring-blue-300" href="">
                <span>خرید و ثبت اشتراک</span>
                <svg fill="blue" class="w-7 h-7" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <defs>
                    <style>
                        .cls-1 {
                        fill: none;
                        }
                    </style>
                    </defs>
                    <circle cx="10" cy="28" r="2"/>
                    <circle cx="24" cy="28" r="2"/>
                    <path d="M4.9806,2.8039A1,1,0,0,0,4,2H0V4H3.18L7.0194,23.1961A1,1,0,0,0,8,24H26V22H8.82l-.8-4H26a1,1,0,0,0,.9762-.783L29.2445,7H27.1971l-1.9989,9H7.62Z" transform="translate(0)"/>
                    <polygon points="21.586 6.586 18 10.172 18 2 16 2 16 10.172 12.414 6.586 11 8 17 14 23 8 21.586 6.586"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
            </a>
        </div>
    </div>
</div>
<!-- testimonial -->
<div class="grid grid-cols-4 mt-8">
    <div class="border-2 hover:bg-slate-100">
        <figure class="m-2">
            <img class="w-full h-auto" src="https://i.ibb.co/nj4FgdP/tetsimonial.webp" alt="" />
        </figure>
        <div class="mx-2 my-4">
            <p><label class="text-xs bg-slate-200 ml-2 p-1">دانش آموز</label><label class="text-xl font-bold">سینا کرمیان</label></p>
            <p>دوره های منظم با جلسات رفع اشکال در حد عالی و اساتید معتبر و تیم عالی در جهت پبشرفت و افزایش دانش برنامه نویسی</p>
            <div class="flex justify-end text-sm text-blue-600"><p class="border-b-2 border-blue-600" href="/">دوره پایتون</p></div>
        </div>
    </div>
    <div class="border-2 hover:bg-slate-100">
        <figure class="m-2">
            <img class="w-full h-auto" src="https://i.ibb.co/nj4FgdP/tetsimonial.webp" alt="" />
        </figure>
        <div class="mx-2 my-4">
            <p><label class="text-xs bg-slate-200 ml-2 p-1">دانش آموز</label><label class="text-xl font-bold">سینا کرمیان</label></p>
            <p>دوره های منظم با جلسات رفع اشکال در حد عالی و اساتید معتبر و تیم عالی در جهت پبشرفت و افزایش دانش برنامه نویسی</p>
            <div class="flex justify-end text-sm text-blue-600"><p class="border-b-2 border-blue-600" href="/">دوره پایتون</p></div>
        </div>
    </div>
    <div class="border-2 hover:bg-slate-100">
        <figure class="m-2">
            <img class="w-full h-auto" src="https://i.ibb.co/nj4FgdP/tetsimonial.webp" alt="" />
        </figure>
        <div class="mx-2 my-4">
            <p><label class="text-xs bg-slate-200 ml-2 p-1">دانش آموز</label><label class="text-xl font-bold">سینا کرمیان</label></p>
            <p>دوره های منظم با جلسات رفع اشکال در حد عالی و اساتید معتبر و تیم عالی در جهت پبشرفت و افزایش دانش برنامه نویسی</p>
            <div class="flex justify-end text-sm text-blue-600"><p class="border-b-2 border-blue-600" href="/">دوره پایتون</p></div>
        </div>
    </div>
    <div class="border-2 hover:bg-slate-100">
        <figure class="m-2">
            <img class="w-full h-auto" src="https://i.ibb.co/nj4FgdP/tetsimonial.webp" alt="" />
        </figure>
        <div class="mx-2 my-4">
            <p><label class="text-xs bg-slate-200 ml-2 p-1">دانش آموز</label><label class="text-xl font-bold">سینا کرمیان</label></p>
            <p>دوره های منظم با جلسات رفع اشکال در حد عالی و اساتید معتبر و تیم عالی در جهت پبشرفت و افزایش دانش برنامه نویسی</p>
            <div class="flex justify-end text-sm text-blue-600"><p class="border-b-2 border-blue-600" href="/">دوره پایتون</p></div>
        </div>
    </div>
</div>
<div class="flex justify-end">
    <a class="flex text-base mt-4 text-blue-600" href="/">
        <span>موارد بیشتر</span>
        <svg id="icon" class="w-7 h-7" fill="blue" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1 {
                fill: none;
                }
            </style>
            </defs>
            <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="20" height="20" fill="#000000"/>
        </svg>
    </a>
</div>
<!-- consultation form -->
<div class="grid grid-cols-2 items-center">
    <div class="mt-8 border-l-4 h-full">
        <div class="flex items-center">
            <svg id="icon" class="w-20 h-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <defs>
                    <style>
                    .cls-1 {
                        fill: none;
                    }
                    </style>
                </defs>
                <rect x="11" y="24" width="10" height="2"/>
                <rect x="13" y="28" width="6" height="2"/>
                <path d="M10.8145,18.1406A7.1851,7.1851,0,0,1,8,12a8.0092,8.0092,0,0,1,8-8V2A10.0111,10.0111,0,0,0,6,12a9.1793,9.1793,0,0,0,3.46,7.6162C10.4717,20.5508,11,21.0815,11,22h2C13,20.16,11.8892,19.1338,10.8145,18.1406Z" transform="translate(0 0)"/>
                <polygon points="21 9.59 17.41 6 16 7.41 21 12.41 30 3.41 28.59 2 21 9.59"/>
                <path d="M23.8,14a7.28,7.28,0,0,1-2.6219,4.1426C20.1069,19.1348,19,20.1611,19,22h2c0-.9194.5264-1.45,1.5352-2.3857A9.1426,9.1426,0,0,0,25.8389,14Z" transform="translate(0 0)"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
            </svg>
            <p class="text-4xl font-bold">فرم مشاوره</p>
        </div>
        <p class="text-xl m-10">جهت مشاوره با تیم مجرب ما برای حرفه ای شدن فرم روبرو را پر کنید</p>
    </div>
    <div class="mt-8 h-full">
        <form class="grid gap-2 m-10" action="">
            <div class="grid grid-rows-2 pt-2 w-[25dvw] bg-slate-200 border-b-2 border-black"> 
                <label class="text-xs pr-2" for="name">نام و نام خانوادگی</label>
                <input class="border-b-2 bg-slate-200" type="text" id="name" name="name" />
            </div>
            <div class="grid grid-rows-2 pt-2 w-[25dvw] bg-slate-200 border-b-2 border-black">
                <label class="text-xs pr-2" for="tel">شماره تلفن</label>
                <input class="border-b-2 bg-slate-200" type="text" id="tel" name="tel" />
            </div>
            <div>
                <div class="grid grid-rows-2 pt-2 w-[25dvw] bg-slate-200">
                    <label class="text-xs pr-2" for="description">توضیحات</label>
                </div>
                <textarea class="border-b-2 border-black w-[25dvw] bg-slate-200" name="description" id="description" rows="4" cels="30"></textarea>
            </div>
            <a class="inline-flex items-center justify-between px-8 py-3 w-[25dvw] text-base font-light text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:ring-blue-300" href="">
                <span>ثبت مشاوره</span>
                <svg class="w-7 h-7" fill="white" id="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <defs>
                    <style>
                        .cls-1 {
                        fill: none;
                        }
                    </style>
                    </defs>
                    <polygon points="22 27.1798 19.41 24.5899 18 26 22 30 30 22 28.5899 20.59 22 27.1798"/>
                    <rect x="9" y="17" width="7" height="2"/>
                    <rect x="9" y="12" width="12" height="2"/>
                    <rect x="9" y="7" width="12" height="2"/>
                    <path d="m16,30H6c-1.103,0-2-.8972-2-2V4c0-1.1028.897-2,2-2h18c1.103,0,2,.8972,2,2v15h-2V4H6v24h10v2Z"/>
                    <rect id="_Transparent_Rectangle_" data-name="&amp;lt;Transparent Rectangle&amp;gt;" class="cls-1 bg-white" width="32" height="32"/>
                </svg>
            </a>
        </form>
    </div>
</div>
{% endblock content %}