{% load compress %} 
{% load static %}

<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EducationLMS</title>
    {% compress css %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/monaco-editor@0.50.0/min/vs/editor/editor.main.css" />
    {% endcompress %}
</head>
<body class="flex justify-center m-4">
    <div id="container" style="width:600px;height:600px;"></div>
    <button class="green-btn" onclick="save()">ذخیره کد</button>

    <script src="https://unpkg.com/monaco-editor@latest/min/vs/loader.js"></script>

    <script>
        require.config({
        paths: {
            'vs': 'https://unpkg.com/monaco-editor@latest/min/vs'
        }
        });
    
        // Create the editor
        require(['vs/editor/editor.main'], function() {
        window.editor = monaco.editor.create(document.getElementById('container'), {
            value: [
                'print("Hello, world!")sccccccc'
            ].join('\n'),
            language: 'python',
            // theme: 'vs-dark' // vs, vs-dark, hc-black, hc-light
        });
        });
    
        // Function to save the editor content
        function save() {
            var value = window.editor.getValue();
            // Save the value somewhere (e.g., to a server or local storage)
            // localStorage.setItem('myText', value);
            const pythonCode = value;
            const blob = new Blob([pythonCode], { type: 'text/plain' });
            const url = URL.createObjectURL(blob);

            const a = document.createElement('a');
            a.href = url;
            a.download = 'my_python_code.py';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            URL.revokeObjectURL(url);
            console.log(value);
        }
    </script>
</body>