{% extends "base/_base.html" %}

{% block content %} 
<!-- header main -->
<div class="grid grid-cols-2 border-b-2 sm:grid-cols-1">
    <div class="text-4xl my-8">
    <h1 class="my-4">بهترین مسیر یادگیری</h1>
    <h1 class="my-4">پویا و جدیدترین روش ها</h1>
    </div>
    <figure class="flex w-full h-auto justify-end">
    <img class="w-1/2 h-auto" src="https://i.ibb.co/Rb6Pd8X/images-1-removebg-preview.png" alt="">
    </figure>
</div>
<!-- content -->
<div class="grid grid-cols-2 my-8 sm:grid-cols-1"> 
    <!-- column 1 -->
    <div class="pl-8 border-l-2 sm:border-l-0">
    <!-- header column 1 -->
    <div class="flex gap-4">
        <svg id="icon" class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
                <style>
                .cls-1 {
                    fill: none;
                }
                </style>
            </defs>
            <title>user--multiple</title>
            <path d="M30,30H28V25a5.0057,5.0057,0,0,0-5-5V18a7.0078,7.0078,0,0,1,7,7Z"/>
            <path d="M22,30H20V25a5.0059,5.0059,0,0,0-5-5H9a5.0059,5.0059,0,0,0-5,5v5H2V25a7.0082,7.0082,0,0,1,7-7h6a7.0082,7.0082,0,0,1,7,7Z"/>
            <path d="M20,2V4a5,5,0,0,1,0,10v2A7,7,0,0,0,20,2Z"/>
            <path d="M12,4A5,5,0,1,1,7,9a5,5,0,0,1,5-5m0-2a7,7,0,1,0,7,7A7,7,0,0,0,12,2Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="60" height="60"/>
        </svg>
        <span class="text-2xl">استادها</span>
    </div>
    <!-- stars -->
    <div class="grid grid-cols-6 gap-4 border-b-2 pr-5 py-5">
        <!-- star item -->
        <a class="grid grid-cols-5 p-2 bg-zinc-200 hover:bg-zinc-300 cursor-pointer hover:border-b-2 border-black">
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        </a>
        <!-- star item -->
        <a class="grid grid-cols-5 p-2 bg-zinc-200 hover:bg-zinc-300 cursor-pointer hover:border-b-2 border-black">
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        </a>
        <!-- star item -->
        <a class="grid grid-cols-5 p-2 bg-zinc-200 hover:bg-zinc-300 cursor-pointer hover:border-b-2 border-black">
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        </a>
        <!-- star item -->
        <a class="grid grid-cols-5 p-2 bg-zinc-200 hover:bg-zinc-300 cursor-pointer hover:border-b-2 border-black">
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        </a>
        <!-- star item -->
        <a class="grid grid-cols-5 p-2 bg-zinc-200 hover:bg-zinc-300 cursor-pointer hover:border-b-2 border-black">
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        </a>
    </div>
    <!-- testimonial items -->
    <div>
        <!-- item -->
        <div class="grid grid-cols-3 p-2 border-2 mt-4 hover:bg-zinc-200 sm:grid-cols-1">
        <figure class="col-span-1">
            <img class="w-full h-auto" src="https://i.ibb.co/bFmzdMN/leadspace-expande1d-c.jpg" alt="">
        </figure>
        <div class="grid grid-rows-3 p-2 col-span-2">
            <div class="row-span-2">
            <span class="grid justify-start font-bold">سینا کرمیان</span>
            <div class="grid grid-cols-5 justify-end items-end">
                
            </div>
            <p>دوره های منظم با جلسه های رفع اشکال در حد هالی و منظم در جها پیشرفت و افزایش دانش برنامه نویسی</p>
            
            </div>
            <div class="flex justify-end items-end">
            <span class="font-bold text-xs underline">دوره پایتون</span>
            </div>
        </div>
        </div>
        <!-- item -->
        <div class="grid grid-cols-3 p-2 border-2 mt-4 hover:bg-zinc-200 sm:grid-cols-1">
        <figure class="col-span-1">
            <img class="w-full h-auto" src="https://i.ibb.co/bFmzdMN/leadspace-expande1d-c.jpg" alt="">
        </figure>
        <div class="grid grid-rows-3 p-2 col-span-2">
            <div class="row-span-2">
            <span class="grid justify-start font-bold">سینا کرمیان</span>
            <div class="grid grid-cols-5 justify-end items-end">
                
            </div>
            <p>دوره های منظم با جلسه های رفع اشکال در حد هالی و منظم در جها پیشرفت و افزایش دانش برنامه نویسی</p>
            
            </div>
            <div class="flex justify-end items-end">
            <span class="font-bold text-xs underline">دوره پایتون</span>
            </div>
        </div>
        </div>
    </div>
    <!-- pagination column 1 -->
    <nav aria-label="Page navigation example">
        <ul class="flex items-center justify-center -space-x-px h-8 text-xl mt-8">
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 hover:bg-gray-100 hover:text-gray-700">
            <span class="sr-only">Previous</span>
            <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">1</a>
        </li>
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">2</a>
        </li>
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">3</a>
        </li>
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 ">4</a>
        </li>
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">5</a>
        </li>
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">
            <span class="sr-only">Next</span>
            <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            </a>
        </li>
        </ul>
    </nav>
    </div>
    <!-- column 2 -->
    <div class="pr-8 sm:pr-0 sm:mt-4">
    <!-- header column 1 -->
    <div class="flex gap-4">
        <svg id="icon" class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
                <style>
                .cls-1 {
                    fill: none;
                }
                </style>
            </defs>
            <title>user--multiple</title>
            <path d="M30,30H28V25a5.0057,5.0057,0,0,0-5-5V18a7.0078,7.0078,0,0,1,7,7Z"/>
            <path d="M22,30H20V25a5.0059,5.0059,0,0,0-5-5H9a5.0059,5.0059,0,0,0-5,5v5H2V25a7.0082,7.0082,0,0,1,7-7h6a7.0082,7.0082,0,0,1,7,7Z"/>
            <path d="M20,2V4a5,5,0,0,1,0,10v2A7,7,0,0,0,20,2Z"/>
            <path d="M12,4A5,5,0,1,1,7,9a5,5,0,0,1,5-5m0-2a7,7,0,1,0,7,7A7,7,0,0,0,12,2Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="60" height="60"/>
        </svg>
        <span class="text-2xl">دانش آموزان</span>
    </div>
    <!-- stars -->
    <div class="grid grid-cols-6 gap-4 border-b-2 pr-5 py-5">
        <!-- star item -->
        <a class="grid grid-cols-5 p-2 bg-zinc-200 hover:bg-zinc-300 cursor-pointer hover:border-b-2 border-black">
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        </a>
        <!-- star item -->
        <a class="grid grid-cols-5 p-2 bg-zinc-200 hover:bg-zinc-300 cursor-pointer hover:border-b-2 border-black">
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        </a>
        <!-- star item -->
        <a class="grid grid-cols-5 p-2 bg-zinc-200 hover:bg-zinc-300 cursor-pointer hover:border-b-2 border-black">
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        </a>
        <!-- star item -->
        <a class="grid grid-cols-5 p-2 bg-zinc-200 hover:bg-zinc-300 cursor-pointer hover:border-b-2 border-black">
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        </a>
        <!-- star item -->
        <a class="grid grid-cols-5 p-2 bg-zinc-200 hover:bg-zinc-300 cursor-pointer hover:border-b-2 border-black">
        <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <defs>
            <style>
                .cls-1{fill:none;}
            </style>
            </defs>
            <title>
            star--filled
            </title>
            <path d="M16,2l-4.55,9.22L1.28,12.69l7.36,7.18L6.9,30,16,25.22,25.1,30,23.36,19.87l7.36-7.17L20.55,11.22Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        </a>
    </div>
    <!-- testimonial items -->
    <div>
        <!-- item -->
        <div class="grid grid-cols-3 p-2 border-2 mt-4 hover:bg-zinc-200 sm:grid-cols-1">
            <figure class="col-span-1">
                <img class="w-full h-auto" src="https://i.ibb.co/bFmzdMN/leadspace-expande1d-c.jpg" alt="">
            </figure>
            <div class="grid grid-rows-3 p-2 col-span-2">
                <div class="row-span-2">
                    <span class="grid justify-start font-bold">سینا کرمیان</span>
                    <div class="grid grid-cols-5 justify-end items-end">
                        
                    </div>
                    <p>دوره های منظم با جلسه های رفع اشکال در حد هالی و منظم در جها پیشرفت و افزایش دانش برنامه نویسی</p>
                
                </div>
                <div class="flex justify-end items-end">
                    <span class="font-bold text-xs underline">دوره پایتون</span>
                </div>
            </div>
        </div>
        <!-- item -->
        <div class="grid grid-cols-3 p-2 border-2 mt-4 hover:bg-zinc-200 sm:grid-cols-1">
            <figure class="col-span-1">
                <img class="w-full h-auto" src="https://i.ibb.co/bFmzdMN/leadspace-expande1d-c.jpg" alt="">
            </figure>
            <div class="grid grid-rows-3 p-2 col-span-2">
                <div class="row-span-2">
                    <span class="grid justify-start font-bold">سینا کرمیان</span>
                    <div class="grid grid-cols-5 justify-end items-end">
                        
                    </div>
                    <p>دوره های منظم با جلسه های رفع اشکال در حد هالی و منظم در جها پیشرفت و افزایش دانش برنامه نویسی</p>
                    
                    </div>
                    <div class="flex justify-end items-end">
                    <span class="font-bold text-xs underline">دوره پایتون</span>
                </div>
            </div>
        </div>
    </div>
    <!-- pagination column 2 -->
    <nav aria-label="Page navigation example">
        <ul class="flex items-center justify-center -space-x-px h-8 text-xl mt-8">
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 hover:bg-gray-100 hover:text-gray-700">
            <span class="sr-only">Previous</span>
            <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">1</a>
        </li>
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">2</a>
        </li>
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">3</a>
        </li>
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 ">4</a>
        </li>
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">5</a>
        </li>
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">
            <span class="sr-only">Next</span>
            <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            </a>
        </li>
        </ul>
    </nav>
    </div>
</div>
<!-- poll form -->
<div class="grid grid-cols-3 items-center sm:grid-cols-1">
    <div class="mt-8 border-l-4 h-full sm:border-l-0 sm:border-t-2 sm:pt-4">
    <div class="flex">
        <svg id="icon" class="w-12 h-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <defs>
            <style>
            .cls-1 {
                fill: none;
            }
            </style>
        </defs>
        <rect x="11" y="24" width="10" height="2"/>
        <rect x="13" y="28" width="6" height="2"/>
        <path d="M10.8145,18.1406A7.1851,7.1851,0,0,1,8,12a8.0092,8.0092,0,0,1,8-8V2A10.0111,10.0111,0,0,0,6,12a9.1793,9.1793,0,0,0,3.46,7.6162C10.4717,20.5508,11,21.0815,11,22h2C13,20.16,11.8892,19.1338,10.8145,18.1406Z" transform="translate(0 0)"/>
        <polygon points="21 9.59 17.41 6 16 7.41 21 12.41 30 3.41 28.59 2 21 9.59"/>
        <path d="M23.8,14a7.28,7.28,0,0,1-2.6219,4.1426C20.1069,19.1348,19,20.1611,19,22h2c0-.9194.5264-1.45,1.5352-2.3857A9.1426,9.1426,0,0,0,25.8389,14Z" transform="translate(0 0)"/>
        <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
        </svg>
        <p class="text-4xl font-bold">فرم نظرسنجی</p>
    </div>
    <p class="text-xl m-4">با دادن نظر درمورد دوره ها </p>
    <p class="text-xl m-4">باعث <span class="text-2xl font-bold">رفع اشکال</span> و <span class="text-2xl font-bold">ارتقاء</span> آن شوید</p>
    </div>
    <div class="mt-8 col-span-2">
    <form class="grid gap-2 m-10" action="">
        <div class="grid grid-rows-2 pt-2 w-[25dvw] sm:w-full bg-slate-200 border-b-2 border-black"> 
            <label class="text-xs pr-2" for="name">نام و نام خانوادگی</label>
            <input class="border-b-2 bg-slate-200" type="text" id="name" name="name" />
        </div>
        <div class="grid grid-rows-2 pt-2 w-[25dvw] sm:w-full bg-slate-200 border-b-2 border-black">
            <label class="text-xs pr-2" for="tel">ایمیل</label>
            <input dir="ltr" class="border-b-2 bg-slate-200" type="text" id="tel" name="tel" />
        </div>
        <div class="grid grid-rows-2 pt-2 w-[25dvw] sm:w-full bg-slate-200 border-b-2 border-black">
            <label class="text-xs pr-2" for="tel">انتخاب دوره</label>
            <input dir="ltr" class="border-b-2 bg-slate-200" type="text" id="tel" name="tel" />
        </div>
        <div>
            <div class="grid grid-rows-2 pt-2 w-[25dvw] sm:w-full bg-slate-200">
                <label class="text-xs pr-2" for="description">توضیحات</label>
            </div>
            <textarea class="border-b-2 border-black w-[25dvw] sm:w-full bg-slate-200" name="description" id="description" rows="4" cels="30"></textarea>
        </div>
        <a class="inline-flex items-center justify-between px-8 py-3 w-[25dvw] sm:w-full text-base font-light text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:ring-blue-300" href="">
            <span>ثبت نظر</span>
            <svg class="w-7 h-7" fill="white" id="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <defs>
                <style>
                    .cls-1 {
                    fill: none;
                    }
                </style>
                </defs>
                <polygon points="22 27.1798 19.41 24.5899 18 26 22 30 30 22 28.5899 20.59 22 27.1798"/>
                <rect x="9" y="17" width="7" height="2"/>
                <rect x="9" y="12" width="12" height="2"/>
                <rect x="9" y="7" width="12" height="2"/>
                <path d="m16,30H6c-1.103,0-2-.8972-2-2V4c0-1.1028.897-2,2-2h18c1.103,0,2,.8972,2,2v15h-2V4H6v24h10v2Z"/>
                <rect id="_Transparent_Rectangle_" data-name="&amp;lt;Transparent Rectangle&amp;gt;" class="cls-1 bg-white" width="32" height="32"/>
            </svg>
        </a>
    </form>
    </div>
</div>
{% endblock content %}