<!-- This page is main page of courses and search for courses and see other details about courses
    and in readme file see section 'general.Page1 : Course list search'
-->
{% extends "base/_base.html" %}
{% load static %}

{% block content %} 
<div class="w-full">
    <!-- hero section-->
    <div class="relative isolate overflow-hidden h-4/5 select-none">
        <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2830&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
        <div class="mx-auto max-w-2xl py-20">
            <div class="text-center">
                <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">متن کلی صفحه</h1>
                <p class="mt-6 text-lg leading-8 text-gray-300">توضیحات</p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="#" class="bg-blue-600 px-4 py-3 text-sm font-semibold text-white shadow-sm hover:bg-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">شروع یادگیری</a>
                </div>
            </div>
        </div>
    </div>

    <!-- courses -->
    <div class="mt-4">
        <!-- title and filter -->
        <div>
            <!-- title -->
            <h2 class="text-lg sm:text-2xl">
                مناسب ترین دوره را انتخاب کنید
            </h2>
            <!-- filter -->
            <div class="flex gap-8 my-4">
                <!-- text -->
                <div>
                    <span class="border-b border-black sm:text-lg">
                        فیلتر بر اساس
                    </span>
                </div>
                <!-- Filters -->
                <div class="flex items-center gap-4">
                    <!-- first filter -->
                    <details class="group">
                        <summary class="flex items-center gap-4 cursor-pointer select-none hover:border-b border-zinc-500">
                            <span class="text-xs sm:text-sm">
                                موضوع
                            </span>
                            <svg class="w-5 h-5 group-open:rotate-180" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="16" height="16" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply"/>
                                <path d="M8 10.9998L3 5.9998L3.7 5.2998L8 9.5998L12.3 5.2998L13 5.9998L8 10.9998Z" fill="#161616"/>
                            </svg>
                        </summary>
                        <div class="absolute">s</div>
                    </details>
                    <!-- seccond filter -->
                    <details class="group">
                        <summary class="flex items-center gap-4 cursor-pointer select-none hover:border-b border-zinc-500">
                            <span class="text-xs sm:text-sm">
                                سطح
                            </span>
                            <svg class="w-5 h-5 group-open:rotate-180" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="16" height="16" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply"/>
                                <path d="M8 10.9998L3 5.9998L3.7 5.2998L8 9.5998L12.3 5.2998L13 5.9998L8 10.9998Z" fill="#161616"/>
                            </svg>
                        </summary>
                        <div class="absolute">s</div>
                    </details>
                </div>
            </div>
        </div>

        <!-- courses poster-->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 my-8">
            <!-- course 1-->
            <div class="flex flex-col border p-1 border-zinc-300 cursor-pointer hover:shadow-xl">
                <!-- image -->
                <img class="w-full h-[200px]" src="https://i.ibb.co/zJfxxtm/hero-section.jpg" alt=""/>
                <!-- content -->
                <div class="flex flex-col m-4">
                    <!--header -->
                    <div>
                        <h3 class="font-bold text-sm sm:text-base">
                            دوره یادگیری عمیق پایتون
                        </h3>
                        <!-- description -->
                        <span class="text-xs sm:text-sm">
                            این دوره کمک به افزایش یادگیری عمیق پایتون در راستای اموزشی است
                        </span>
                    </div>
                    <!--footer -->
                    <div class="flex items-center justify-between mt-4">
                        <span class="text-xs">
                            ایجاد شده در خرداد 1403
                        </span>
                        <div class="flex items-center">
                            <span class="text-xs font-bold">
                                8
                            </span>
                            <svg class="w-6 h-6" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="14.8918" height="16" transform="translate(0.753235)" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply"/>
                                <path d="M9.27087 4.5C9.10533 4.5 8.94147 4.53566 8.78897 4.60486C8.63646 4.67406 8.49842 4.7754 8.383 4.9029L8.20001 5.1056L8.01526 4.9029C7.89984 4.77541 7.7618 4.67406 7.60931 4.60486C7.45681 4.53566 7.29295 4.50001 7.12741 4.50001C6.96187 4.50001 6.79801 4.53566 6.64552 4.60486C6.49302 4.67406 6.35498 4.77541 6.23956 4.9029C6.00401 5.16401 5.87228 5.51337 5.87228 5.877C5.87228 6.24063 6.00401 6.58999 6.23956 6.8511L8.20001 9L10.1587 6.8511C10.3943 6.58999 10.526 6.24063 10.526 5.877C10.526 5.51337 10.3943 5.16401 10.1587 4.9029C10.0433 4.77541 9.90525 4.67407 9.75276 4.60487C9.60026 4.53567 9.43641 4.50001 9.27087 4.5Z" fill="#161616"/>
                                <path d="M8.19913 15L4.27352 10.0257C4.25123 9.9971 4.11148 9.7999 4.11148 9.7999C3.44084 8.85084 3.07851 7.6916 3.08008 6.5C3.08008 5.04131 3.61941 3.64236 4.57942 2.61091C5.53943 1.57946 6.84148 1 8.19913 1C9.55679 1 10.8588 1.57946 11.8188 2.61091C12.7789 3.64236 13.3182 5.04131 13.3182 6.5C13.3198 7.69111 12.9578 8.84991 12.2875 9.79865L12.2868 9.7999C12.2868 9.7999 12.1472 9.9971 12.1264 10.0236L8.19913 15ZM4.8543 9.1975C4.8543 9.1975 4.96292 9.3516 4.98767 9.3847L8.19913 13.4539L11.4148 9.37895C11.4353 9.35135 11.5446 9.1961 11.5446 9.1961C12.0924 8.42064 12.3885 7.47356 12.3874 6.5C12.3874 5.30653 11.9462 4.16193 11.1607 3.31802C10.3753 2.47411 9.30994 2 8.19913 2C7.08832 2 6.02301 2.47411 5.23755 3.31802C4.45209 4.16193 4.01082 5.30653 4.01082 6.5C4.00979 7.47409 4.30609 8.42167 4.8543 9.1975Z" fill="#161616"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course 2-->
            <div class="flex flex-col border p-1 border-zinc-300 cursor-pointer hover:shadow-xl">
                <!-- image -->
                <img class="w-full h-[200px]" src="https://i.ibb.co/zJfxxtm/hero-section.jpg" alt=""/>
                <!-- content -->
                <div class="flex flex-col m-4">
                    <!--header -->
                    <div>
                        <h3 class="font-bold text-sm sm:text-base">
                            دوره یادگیری عمیق پایتون
                        </h3>
                        <!-- description -->
                        <span class="text-xs sm:text-sm">
                            این دوره کمک به افزایش یادگیری عمیق پایتون در راستای اموزشی است
                        </span>
                    </div>
                    <!--footer -->
                    <div class="flex items-center justify-between mt-4">
                        <span class="text-xs">
                            ایجاد شده در خرداد 1403
                        </span>
                        <div class="flex items-center">
                            <span class="text-xs font-bold">
                                8
                            </span>
                            <svg class="w-6 h-6" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="14.8918" height="16" transform="translate(0.753235)" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply"/>
                                <path d="M9.27087 4.5C9.10533 4.5 8.94147 4.53566 8.78897 4.60486C8.63646 4.67406 8.49842 4.7754 8.383 4.9029L8.20001 5.1056L8.01526 4.9029C7.89984 4.77541 7.7618 4.67406 7.60931 4.60486C7.45681 4.53566 7.29295 4.50001 7.12741 4.50001C6.96187 4.50001 6.79801 4.53566 6.64552 4.60486C6.49302 4.67406 6.35498 4.77541 6.23956 4.9029C6.00401 5.16401 5.87228 5.51337 5.87228 5.877C5.87228 6.24063 6.00401 6.58999 6.23956 6.8511L8.20001 9L10.1587 6.8511C10.3943 6.58999 10.526 6.24063 10.526 5.877C10.526 5.51337 10.3943 5.16401 10.1587 4.9029C10.0433 4.77541 9.90525 4.67407 9.75276 4.60487C9.60026 4.53567 9.43641 4.50001 9.27087 4.5Z" fill="#161616"/>
                                <path d="M8.19913 15L4.27352 10.0257C4.25123 9.9971 4.11148 9.7999 4.11148 9.7999C3.44084 8.85084 3.07851 7.6916 3.08008 6.5C3.08008 5.04131 3.61941 3.64236 4.57942 2.61091C5.53943 1.57946 6.84148 1 8.19913 1C9.55679 1 10.8588 1.57946 11.8188 2.61091C12.7789 3.64236 13.3182 5.04131 13.3182 6.5C13.3198 7.69111 12.9578 8.84991 12.2875 9.79865L12.2868 9.7999C12.2868 9.7999 12.1472 9.9971 12.1264 10.0236L8.19913 15ZM4.8543 9.1975C4.8543 9.1975 4.96292 9.3516 4.98767 9.3847L8.19913 13.4539L11.4148 9.37895C11.4353 9.35135 11.5446 9.1961 11.5446 9.1961C12.0924 8.42064 12.3885 7.47356 12.3874 6.5C12.3874 5.30653 11.9462 4.16193 11.1607 3.31802C10.3753 2.47411 9.30994 2 8.19913 2C7.08832 2 6.02301 2.47411 5.23755 3.31802C4.45209 4.16193 4.01082 5.30653 4.01082 6.5C4.00979 7.47409 4.30609 8.42167 4.8543 9.1975Z" fill="#161616"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course 3-->
            <div class="flex flex-col border p-1 border-zinc-300 cursor-pointer hover:shadow-xl">
                <!-- image -->
                <img class="w-full h-[200px]" src="https://i.ibb.co/zJfxxtm/hero-section.jpg" alt=""/>
                <!-- content -->
                <div class="flex flex-col m-4">
                    <!--header -->
                    <div>
                        <h3 class="font-bold text-sm sm:text-base">
                            دوره یادگیری عمیق پایتون
                        </h3>
                        <!-- description -->
                        <span class="text-xs sm:text-sm">
                            این دوره کمک به افزایش یادگیری عمیق پایتون در راستای اموزشی است
                        </span>
                    </div>
                    <!--footer -->
                    <div class="flex items-center justify-between mt-4">
                        <span class="text-xs">
                            ایجاد شده در خرداد 1403
                        </span>
                        <div class="flex items-center">
                            <span class="text-xs font-bold">
                                8
                            </span>
                            <svg class="w-6 h-6" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="14.8918" height="16" transform="translate(0.753235)" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply"/>
                                <path d="M9.27087 4.5C9.10533 4.5 8.94147 4.53566 8.78897 4.60486C8.63646 4.67406 8.49842 4.7754 8.383 4.9029L8.20001 5.1056L8.01526 4.9029C7.89984 4.77541 7.7618 4.67406 7.60931 4.60486C7.45681 4.53566 7.29295 4.50001 7.12741 4.50001C6.96187 4.50001 6.79801 4.53566 6.64552 4.60486C6.49302 4.67406 6.35498 4.77541 6.23956 4.9029C6.00401 5.16401 5.87228 5.51337 5.87228 5.877C5.87228 6.24063 6.00401 6.58999 6.23956 6.8511L8.20001 9L10.1587 6.8511C10.3943 6.58999 10.526 6.24063 10.526 5.877C10.526 5.51337 10.3943 5.16401 10.1587 4.9029C10.0433 4.77541 9.90525 4.67407 9.75276 4.60487C9.60026 4.53567 9.43641 4.50001 9.27087 4.5Z" fill="#161616"/>
                                <path d="M8.19913 15L4.27352 10.0257C4.25123 9.9971 4.11148 9.7999 4.11148 9.7999C3.44084 8.85084 3.07851 7.6916 3.08008 6.5C3.08008 5.04131 3.61941 3.64236 4.57942 2.61091C5.53943 1.57946 6.84148 1 8.19913 1C9.55679 1 10.8588 1.57946 11.8188 2.61091C12.7789 3.64236 13.3182 5.04131 13.3182 6.5C13.3198 7.69111 12.9578 8.84991 12.2875 9.79865L12.2868 9.7999C12.2868 9.7999 12.1472 9.9971 12.1264 10.0236L8.19913 15ZM4.8543 9.1975C4.8543 9.1975 4.96292 9.3516 4.98767 9.3847L8.19913 13.4539L11.4148 9.37895C11.4353 9.35135 11.5446 9.1961 11.5446 9.1961C12.0924 8.42064 12.3885 7.47356 12.3874 6.5C12.3874 5.30653 11.9462 4.16193 11.1607 3.31802C10.3753 2.47411 9.30994 2 8.19913 2C7.08832 2 6.02301 2.47411 5.23755 3.31802C4.45209 4.16193 4.01082 5.30653 4.01082 6.5C4.00979 7.47409 4.30609 8.42167 4.8543 9.1975Z" fill="#161616"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course 4-->
            <div class="flex flex-col border p-1 border-zinc-300 cursor-pointer hover:shadow-xl">
                <!-- image -->
                <img class="w-full h-[200px]" src="https://i.ibb.co/zJfxxtm/hero-section.jpg" alt=""/>
                <!-- content -->
                <div class="flex flex-col m-4">
                    <!--header -->
                    <div>
                        <h3 class="font-bold text-sm sm:text-base">
                            دوره یادگیری عمیق پایتون
                        </h3>
                        <!-- description -->
                        <span class="text-xs sm:text-sm">
                            این دوره کمک به افزایش یادگیری عمیق پایتون در راستای اموزشی است
                        </span>
                    </div>
                    <!--footer -->
                    <div class="flex items-center justify-between mt-4">
                        <span class="text-xs">
                            ایجاد شده در خرداد 1403
                        </span>
                        <div class="flex items-center">
                            <span class="text-xs font-bold">
                                8
                            </span>
                            <svg class="w-6 h-6" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="14.8918" height="16" transform="translate(0.753235)" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply"/>
                                <path d="M9.27087 4.5C9.10533 4.5 8.94147 4.53566 8.78897 4.60486C8.63646 4.67406 8.49842 4.7754 8.383 4.9029L8.20001 5.1056L8.01526 4.9029C7.89984 4.77541 7.7618 4.67406 7.60931 4.60486C7.45681 4.53566 7.29295 4.50001 7.12741 4.50001C6.96187 4.50001 6.79801 4.53566 6.64552 4.60486C6.49302 4.67406 6.35498 4.77541 6.23956 4.9029C6.00401 5.16401 5.87228 5.51337 5.87228 5.877C5.87228 6.24063 6.00401 6.58999 6.23956 6.8511L8.20001 9L10.1587 6.8511C10.3943 6.58999 10.526 6.24063 10.526 5.877C10.526 5.51337 10.3943 5.16401 10.1587 4.9029C10.0433 4.77541 9.90525 4.67407 9.75276 4.60487C9.60026 4.53567 9.43641 4.50001 9.27087 4.5Z" fill="#161616"/>
                                <path d="M8.19913 15L4.27352 10.0257C4.25123 9.9971 4.11148 9.7999 4.11148 9.7999C3.44084 8.85084 3.07851 7.6916 3.08008 6.5C3.08008 5.04131 3.61941 3.64236 4.57942 2.61091C5.53943 1.57946 6.84148 1 8.19913 1C9.55679 1 10.8588 1.57946 11.8188 2.61091C12.7789 3.64236 13.3182 5.04131 13.3182 6.5C13.3198 7.69111 12.9578 8.84991 12.2875 9.79865L12.2868 9.7999C12.2868 9.7999 12.1472 9.9971 12.1264 10.0236L8.19913 15ZM4.8543 9.1975C4.8543 9.1975 4.96292 9.3516 4.98767 9.3847L8.19913 13.4539L11.4148 9.37895C11.4353 9.35135 11.5446 9.1961 11.5446 9.1961C12.0924 8.42064 12.3885 7.47356 12.3874 6.5C12.3874 5.30653 11.9462 4.16193 11.1607 3.31802C10.3753 2.47411 9.30994 2 8.19913 2C7.08832 2 6.02301 2.47411 5.23755 3.31802C4.45209 4.16193 4.01082 5.30653 4.01082 6.5C4.00979 7.47409 4.30609 8.42167 4.8543 9.1975Z" fill="#161616"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- courses pagination-->
        <nav class="flex items-center justify-between border-y border-gray-200 px-4 sm:px-0 my-2">
            <div class="-mt-px flex w-0 flex-1">
                <a href="#" class="inline-flex items-center border-b-2 border-transparent pr-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                    <svg class="ml-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd" />
                    </svg>
                    صفحه قبل
                </a>
            </div>
            <div class="hidden md:-mt-px md:flex">
                <a href="#" class="inline-flex items-center border-b-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">1</a>
                <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
                <a href="#" class="inline-flex items-center border-b-2 border-indigo-500 px-4 py-4 text-sm font-medium text-indigo-600" aria-current="page">2</a>
                <a href="#" class="inline-flex items-center border-b-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">3</a>
                <span class="inline-flex items-center border-t-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500">...</span>
                <a href="#" class="inline-flex items-center border-b-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">8</a>
                <a href="#" class="inline-flex items-center border-b-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">9</a>
                <a href="#" class="inline-flex items-center border-b-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">10</a>
            </div>
            <div class="-mt-px flex w-0 flex-1 justify-end">
                <a href="#" class="inline-flex items-center border-b-2 border-transparent pl-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                    صفحه بعد
                    <svg class="mr-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </nav>
    </div>

    <!-- course category search-->
    <div class="flex flex-col md:flex-row my-8 gap-4">
        <!-- header -->
        <div class="flex flex-col w-full md:w-1/4 ">
            <h3 class="text-base sm:text-xl font-bold">
                جستجو بر اساس دسته بندی
            </h3>
            <p class="text-xs sm:text-sm my-4">
                بر اساس علاقه شحصی خود جستجوهای بهینه تر و بهتری برای پیدا کردن دوره های مختص به خود داشته باشید
            </P>
        </div>
        <!-- categories-->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 w-full md:w-3/4 font-bold text-sm sm:text-base">
            <a class="flex justify-center items-center m-4 p-2 bg-blue-200 cursor-pointer select-none hover:shadow-lg">
                یادگیری عمیق پایتون
            </a>
            <a class="flex justify-center items-center m-4 p-2 bg-blue-200 cursor-pointer select-none hover:shadow-lg">
                یادگیری عمیق پایتون
            </a>
            <a class="flex justify-center items-center m-4 p-2 bg-blue-200 cursor-pointer select-none hover:shadow-lg">
                یادگیری عمیق پایتون
            </a>
            <a class="flex justify-center items-center m-4 p-2 bg-blue-200 cursor-pointer select-none hover:shadow-lg">
                یادگیری عمیق پایتون
            </a>
        </div>
    </div>

    <!-- paper section-->
    <div class="p-4 bg-gray-200">
        <!-- header -->
        <h3 class="text-base sm:text-xl font-bold">
            بدست آوردن دانش مورد نیاز با استفاده از خواندن مقالات مرتبط
        </h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 my-4">
            <!-- paper1 -->
            <div class="flex flex-col border p-1 bg-white border-zinc-200 cursor-pointer hover:shadow-xl">
                <!-- content -->
                <div class="flex flex-col m-4">
                    <!--header -->
                    <div class="flex flex-col gap-4">
                        <h3 class="font-bold text-sm sm:text-base">
                            عنوان مقاله
                        </h3>
                        <!-- description -->
                        <span class="text-sm my-4">
                            این کادر برای توضیحات مختصری از مقاله است
                        </span>
                    </div>
                    <!--footer -->
                    <div class="flex items-center justify-between mt-4">
                        <span class="text-xs">
                            ایجاد شده در خرداد 1403
                        </span>
                        <div class="flex items-center">
                            <span class="text-xs font-bold">
                                مقاله
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- paper2 -->
            <div class="flex flex-col border p-1 bg-white border-zinc-200 cursor-pointer hover:shadow-xl">
                <!-- content -->
                <div class="flex flex-col m-4">
                    <!--header -->
                    <div class="flex flex-col gap-4">
                        <h3 class="font-bold text-sm sm:text-base">
                            عنوان مقاله
                        </h3>
                        <!-- description -->
                        <span class="text-sm my-4">
                            این کادر برای توضیحات مختصری از مقاله است
                        </span>
                    </div>
                    <!--footer -->
                    <div class="flex items-center justify-between mt-4">
                        <span class="text-xs">
                            ایجاد شده در خرداد 1403
                        </span>
                        <div class="flex items-center">
                            <span class="text-xs font-bold">
                                مقاله
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- paper3 -->
            <div class="flex flex-col border p-1 bg-white border-zinc-200 cursor-pointer hover:shadow-xl">
                <!-- content -->
                <div class="flex flex-col m-4">
                    <!--header -->
                    <div class="flex flex-col gap-4">
                        <h3 class="font-bold text-sm sm:text-base">
                            عنوان مقاله
                        </h3>
                        <!-- description -->
                        <span class="text-sm my-4">
                            این کادر برای توضیحات مختصری از مقاله است
                        </span>
                    </div>
                    <!--footer -->
                    <div class="flex items-center justify-between mt-4">
                        <span class="text-xs">
                            ایجاد شده در خرداد 1403
                        </span>
                        <div class="flex items-center">
                            <span class="text-xs font-bold">
                                مقاله
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- paper4 -->
            <div class="flex flex-col border p-1 bg-white border-zinc-200 cursor-pointer hover:shadow-xl">
                <!-- content -->
                <div class="flex flex-col m-4">
                    <!--header -->
                    <div class="flex flex-col gap-4">
                        <h3 class="font-bold text-sm sm:text-base">
                            عنوان مقاله
                        </h3>
                        <!-- description -->
                        <span class="text-sm my-4">
                            این کادر برای توضیحات مختصری از مقاله است
                        </span>
                    </div>
                    <!--footer -->
                    <div class="flex items-center justify-between mt-4">
                        <span class="text-xs">
                            ایجاد شده در خرداد 1403
                        </span>
                        <div class="flex items-center">
                            <span class="text-xs font-bold">
                                مقاله
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- extra papers-->
        <div class="flex items-center justify-end">
            <a class="flex items-center gap-2 text-sm text-blue-500 hover:border-b hover:border-blue-500 cursor-pointer">
                موارد بیشتر
                <svg class="w-4 h-4 rotate-90 fill-blue-500" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="16" height="16" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply"/>
                    <path d="M8 10.9998L3 5.9998L3.7 5.2998L8 9.5998L12.3 5.2998L13 5.9998L8 10.9998Z" fill="blue"/>
                </svg>
            </a>
        </div>
    </div>

    <!-- Faq's section -->
    <div class="p-4 my-6 border border-zinc-200">
        <!-- header section -->
        <h3 class="text-base sm:text-xl font-bold mx-4 p-2 border-b border-zinc-200">سوالات پرتکرار</h3>
        <div class="flex items-start p-4">
            <!-- Faq's question -->
            <div class="w-full md:w-3/4">
                <!-- Faq 1-->
                <div class="w-full md:w-10/12 py-4 border-b border-zinc-400">
                    <details class="group">
                        <summary class="flex items-center gap-4 select-none cursor-pointer text-sm sm:text-base">
                            <svg class="w-6 h-6 group-open:-rotate-90" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="27" height="27" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply"/>
                                <path d="M8.4375 13.5L16.875 5.0625L18.0562 6.24375L10.8 13.5L18.0562 20.7563L16.875 21.9375L8.4375 13.5Z" fill="#161616"/>
                            </svg>
                            آیا دوره های شما در هر زمینه ای وجود دارد و شرایط شرکت در آن چیست؟
                        </summary>
                        <p class="my-2 mx-10 text-justify text-xs sm:text-sm">
                            یادگیری ماشین (Machine Learning) موضوعی است که در زندگی روزمره ما حضور دارد و گاهی بدون اینکه متوجه باشیم در حال استفاده از آن هستیم. برای مثال زمانی که در سایت گوگل به جستجو می‌پردازیم و گوگل لیستی از نتایج را به ما نشان می‌دهد، در حقیقت در حال استفاده از الگوریتم‌های یادگیری ماشین هستیم. همچنین، بعضی از فروشگاه‌های اینترنتی با شخصی‌سازی سایت برای کاربران، پیشنهادهایی هوشمندانه‌ای به ما ارائه می‌دهند. سیستم‌های تشخیص چهره یا دستیارهای صوتی مثل Cortana یا Siri نمونه دیگری از کاربردهای یادگیری ماشین هستند. لازم به ذکر است که پایتون در یادگیری ماشین عملکرد مناسبی دارد و بسیاری از متخصصان Machine Learning از کتابخانه‌های آن استفاده می‌کنند.
                        </p>
                    </details>
                </div>
                <!-- Faq 2-->
                <div class="w-full md:w-10/12 py-4 border-b border-zinc-400">
                    <details class="group">
                        <summary class="flex items-center gap-4 select-none cursor-pointer text-sm sm:text-base">
                            <svg class="w-6 h-6 group-open:-rotate-90" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="27" height="27" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply"/>
                                <path d="M8.4375 13.5L16.875 5.0625L18.0562 6.24375L10.8 13.5L18.0562 20.7563L16.875 21.9375L8.4375 13.5Z" fill="#161616"/>
                            </svg>
                            آیا دوره های شما در هر زمینه ای وجود دارد و شرایط شرکت در آن چیست؟
                        </summary>
                        <p class="my-2 mx-10 text-justify text-xs sm:text-sm">
                            یادگیری ماشین (Machine Learning) موضوعی است که در زندگی روزمره ما حضور دارد و گاهی بدون اینکه متوجه باشیم در حال استفاده از آن هستیم. برای مثال زمانی که در سایت گوگل به جستجو می‌پردازیم و گوگل لیستی از نتایج را به ما نشان می‌دهد، در حقیقت در حال استفاده از الگوریتم‌های یادگیری ماشین هستیم. همچنین، بعضی از فروشگاه‌های اینترنتی با شخصی‌سازی سایت برای کاربران، پیشنهادهایی هوشمندانه‌ای به ما ارائه می‌دهند. سیستم‌های تشخیص چهره یا دستیارهای صوتی مثل Cortana یا Siri نمونه دیگری از کاربردهای یادگیری ماشین هستند. لازم به ذکر است که پایتون در یادگیری ماشین عملکرد مناسبی دارد و بسیاری از متخصصان Machine Learning از کتابخانه‌های آن استفاده می‌کنند.
                        </p>
                    </details>
                </div>
                <!-- Faq 3-->
                <div class="w-full md:w-10/12 py-4 border-b border-zinc-400">
                    <details class="group">
                        <summary class="flex items-center gap-4 select-none cursor-pointer text-sm sm:text-base">
                            <svg class="w-6 h-6 group-open:-rotate-90" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="27" height="27" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply"/>
                                <path d="M8.4375 13.5L16.875 5.0625L18.0562 6.24375L10.8 13.5L18.0562 20.7563L16.875 21.9375L8.4375 13.5Z" fill="#161616"/>
                            </svg>
                            آیا دوره های شما در هر زمینه ای وجود دارد و شرایط شرکت در آن چیست؟
                        </summary>
                        <p class="my-2 mx-10 text-justify text-xs sm:text-sm">
                            یادگیری ماشین (Machine Learning) موضوعی است که در زندگی روزمره ما حضور دارد و گاهی بدون اینکه متوجه باشیم در حال استفاده از آن هستیم. برای مثال زمانی که در سایت گوگل به جستجو می‌پردازیم و گوگل لیستی از نتایج را به ما نشان می‌دهد، در حقیقت در حال استفاده از الگوریتم‌های یادگیری ماشین هستیم. همچنین، بعضی از فروشگاه‌های اینترنتی با شخصی‌سازی سایت برای کاربران، پیشنهادهایی هوشمندانه‌ای به ما ارائه می‌دهند. سیستم‌های تشخیص چهره یا دستیارهای صوتی مثل Cortana یا Siri نمونه دیگری از کاربردهای یادگیری ماشین هستند. لازم به ذکر است که پایتون در یادگیری ماشین عملکرد مناسبی دارد و بسیاری از متخصصان Machine Learning از کتابخانه‌های آن استفاده می‌کنند.
                        </p>
                    </details>
                </div>
                <!-- Faq 4-->
                <div class="w-full md:w-10/12 py-4 border-b border-zinc-400">
                    <details class="group">
                        <summary class="flex items-center gap-4 select-none cursor-pointer text-sm sm:text-base">
                            <svg class="w-6 h-6 group-open:-rotate-90" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="27" height="27" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply"/>
                                <path d="M8.4375 13.5L16.875 5.0625L18.0562 6.24375L10.8 13.5L18.0562 20.7563L16.875 21.9375L8.4375 13.5Z" fill="#161616"/>
                            </svg>
                            آیا دوره های شما در هر زمینه ای وجود دارد و شرایط شرکت در آن چیست؟
                        </summary>
                        <p class="my-2 mx-10 text-justify text-xs sm:text-sm">
                            یادگیری ماشین (Machine Learning) موضوعی است که در زندگی روزمره ما حضور دارد و گاهی بدون اینکه متوجه باشیم در حال استفاده از آن هستیم. برای مثال زمانی که در سایت گوگل به جستجو می‌پردازیم و گوگل لیستی از نتایج را به ما نشان می‌دهد، در حقیقت در حال استفاده از الگوریتم‌های یادگیری ماشین هستیم. همچنین، بعضی از فروشگاه‌های اینترنتی با شخصی‌سازی سایت برای کاربران، پیشنهادهایی هوشمندانه‌ای به ما ارائه می‌دهند. سیستم‌های تشخیص چهره یا دستیارهای صوتی مثل Cortana یا Siri نمونه دیگری از کاربردهای یادگیری ماشین هستند. لازم به ذکر است که پایتون در یادگیری ماشین عملکرد مناسبی دارد و بسیاری از متخصصان Machine Learning از کتابخانه‌های آن استفاده می‌کنند.
                        </p>
                    </details>
                </div>
                <!-- Faq 5-->
                <div class="w-full md:w-10/12 py-4 border-b border-zinc-400">
                    <details class="group">
                        <summary class="flex items-center gap-4 select-none cursor-pointer text-sm sm:text-base">
                            <svg class="w-6 h-6 group-open:-rotate-90" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="27" height="27" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply"/>
                                <path d="M8.4375 13.5L16.875 5.0625L18.0562 6.24375L10.8 13.5L18.0562 20.7563L16.875 21.9375L8.4375 13.5Z" fill="#161616"/>
                            </svg>
                            آیا دوره های شما در هر زمینه ای وجود دارد و شرایط شرکت در آن چیست؟
                        </summary>
                        <p class="my-2 mx-10 text-justify text-xs sm:text-sm">
                            یادگیری ماشین (Machine Learning) موضوعی است که در زندگی روزمره ما حضور دارد و گاهی بدون اینکه متوجه باشیم در حال استفاده از آن هستیم. برای مثال زمانی که در سایت گوگل به جستجو می‌پردازیم و گوگل لیستی از نتایج را به ما نشان می‌دهد، در حقیقت در حال استفاده از الگوریتم‌های یادگیری ماشین هستیم. همچنین، بعضی از فروشگاه‌های اینترنتی با شخصی‌سازی سایت برای کاربران، پیشنهادهایی هوشمندانه‌ای به ما ارائه می‌دهند. سیستم‌های تشخیص چهره یا دستیارهای صوتی مثل Cortana یا Siri نمونه دیگری از کاربردهای یادگیری ماشین هستند. لازم به ذکر است که پایتون در یادگیری ماشین عملکرد مناسبی دارد و بسیاری از متخصصان Machine Learning از کتابخانه‌های آن استفاده می‌کنند.
                        </p>
                    </details>
                </div>
                <!-- Faq 6-->
                <div class="w-full md:w-10/12 py-4">
                    <details class="group">
                        <summary class="flex items-center gap-4 select-none cursor-pointer text-sm sm:text-base">
                            <svg class="w-6 h-6 group-open:-rotate-90" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="27" height="27" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply"/>
                                <path d="M8.4375 13.5L16.875 5.0625L18.0562 6.24375L10.8 13.5L18.0562 20.7563L16.875 21.9375L8.4375 13.5Z" fill="#161616"/>
                            </svg>
                            آیا دوره های شما در هر زمینه ای وجود دارد و شرایط شرکت در آن چیست؟
                        </summary>
                        <p class="my-2 mx-10 text-justify text-xs sm:text-sm">
                            یادگیری ماشین (Machine Learning) موضوعی است که در زندگی روزمره ما حضور دارد و گاهی بدون اینکه متوجه باشیم در حال استفاده از آن هستیم. برای مثال زمانی که در سایت گوگل به جستجو می‌پردازیم و گوگل لیستی از نتایج را به ما نشان می‌دهد، در حقیقت در حال استفاده از الگوریتم‌های یادگیری ماشین هستیم. همچنین، بعضی از فروشگاه‌های اینترنتی با شخصی‌سازی سایت برای کاربران، پیشنهادهایی هوشمندانه‌ای به ما ارائه می‌دهند. سیستم‌های تشخیص چهره یا دستیارهای صوتی مثل Cortana یا Siri نمونه دیگری از کاربردهای یادگیری ماشین هستند. لازم به ذکر است که پایتون در یادگیری ماشین عملکرد مناسبی دارد و بسیاری از متخصصان Machine Learning از کتابخانه‌های آن استفاده می‌کنند.
                        </p>
                    </details>
                </div>
            </div>
            <!-- more Faq's -->
            <div class="hidden md:flex flex-col gap-4 p-4 w-1/4 h-full border border-zinc-300">
                <svg class="w-7 h-7" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="23" height="24" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply"/>
                    <path d="M11.5 1.5C9.50982 1.5 7.56433 2.11581 5.90956 3.26957C4.25479 4.42332 2.96506 6.0632 2.20345 7.98182C1.44184 9.90045 1.24257 12.0116 1.63084 14.0484C2.0191 16.0852 2.97746 17.9562 4.38473 19.4246C5.79199 20.8931 7.58496 21.8931 9.53689 22.2982C11.4888 22.7034 13.5121 22.4955 15.3507 21.7007C17.1894 20.906 18.761 19.5602 19.8667 17.8335C20.9723 16.1068 21.5625 14.0767 21.5625 12C21.5625 9.21523 20.5023 6.54451 18.6152 4.57538C16.7282 2.60625 14.1687 1.5 11.5 1.5ZM11.5 21C9.79413 21 8.12657 20.4722 6.7082 19.4832C5.28982 18.4943 4.18433 17.0887 3.53153 15.4442C2.87872 13.7996 2.70792 11.99 3.04072 10.2442C3.37351 8.49836 4.19497 6.89471 5.40119 5.63604C6.60742 4.37737 8.14425 3.5202 9.81734 3.17293C11.4904 2.82567 13.2246 3.0039 14.8006 3.68508C16.3766 4.36627 17.7237 5.51983 18.6714 6.99987C19.6191 8.47991 20.125 10.22 20.125 12C20.125 14.3869 19.2163 16.6761 17.5988 18.364C15.9813 20.0518 13.7875 21 11.5 21Z" fill="#161616"/>
                    <path d="M11.5 18.75C12.0954 18.75 12.5781 18.2463 12.5781 17.625C12.5781 17.0037 12.0954 16.5 11.5 16.5C10.9046 16.5 10.4219 17.0037 10.4219 17.625C10.4219 18.2463 10.9046 18.75 11.5 18.75Z" fill="#161616"/>
                    <path d="M12.2187 6H11.1406C10.7156 5.99901 10.2946 6.08563 9.90175 6.25489C9.50891 6.42415 9.15198 6.67272 8.85145 6.98631C8.55092 7.2999 8.31272 7.67235 8.15051 8.08227C7.9883 8.4922 7.90529 8.93151 7.90624 9.375V9.75H9.34374V9.375C9.34374 8.87772 9.53305 8.40081 9.87003 8.04917C10.207 7.69754 10.6641 7.5 11.1406 7.5H12.2187C12.6953 7.5 13.1523 7.69754 13.4893 8.04917C13.8263 8.40081 14.0156 8.87772 14.0156 9.375C14.0156 9.87228 13.8263 10.3492 13.4893 10.7008C13.1523 11.0525 12.6953 11.25 12.2187 11.25H10.7812V14.625H12.2187V12.75C13.0765 12.75 13.8992 12.3944 14.5058 11.7615C15.1124 11.1285 15.4531 10.2701 15.4531 9.375C15.4531 8.47989 15.1124 7.62145 14.5058 6.98851C13.8992 6.35558 13.0765 6 12.2187 6Z" fill="#161616"/>
                </svg>
                <span>بازدید بیشتر</span>
                <div>
                    <a class="text-sm text-blue-600 hover:border-b hover:border-blue-600 cursor-pointer">بازدید از صفحه سوالات</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}