{% extends "base/_baselogin.html" %}

{% block content %}
<!-- register and subscription -->
<div class="">
    <div class="grid sm:grid-cols-2 px-4 py-2 col-span-1">
        <div>
            <h2 class="text-2xl font-bold my-8 w-full">خرید اشتراک</h2>
            <p>سرمایه‌گذاری روی مهارت‌هایتان،
                یک تصمیم هوشمندانه است!
            </p>
            <p>با خرید اشتراک می توانید از 
                امکانات دوره های متنوع استفاده کنید.
            </p>
        </div>
        <div class="hidden sm:flex justify-end items-center">
            <svg id="icon" class="w-24 h-24 rotate-180" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <defs>
                    <style>
                    .cls-1{fill:none;}
                    </style>
                </defs>
                <title>
                    exit
                </title>
                <rect x="26" y="4" width="2" height="24"/>
                <polygon points="11.414 20.586 7.828 17 22 17 22 15 7.828 15 11.414 11.414 10 10 4 16 10 22 11.414 20.586"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
            </svg>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 col-span-2 py-10">
        <!-- subscription 1 -->
        <div class="p-4 m-2 border-2">
            <div class="flex justify-between border-b-2">
                <span class="text-xl font-bold">سه ماهه</span>
                <svg class="w-10 h-10" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <defs>
                    <style>
                        .cls-1{fill:none;}
                    </style>
                    </defs>
                    <title>
                    shopping--cart
                    </title>
                    <circle cx="10" cy="28" r="2"/>
                    <circle cx="24" cy="28" r="2"/>
                    <path d="M28,7H5.82L5,2.8A1,1,0,0,0,4,2H0V4H3.18L7,23.2A1,1,0,0,0,8,24H26V22H8.82L8,18H26a1,1,0,0,0,1-.78l2-9A1,1,0,0,0,28,7Zm-2.8,9H7.62L6.22,9H26.75Z"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
            </div>
            <div>
                <div>
                    قیمت:
                    <span class="underline">252</span>
                    هزار تومان
                </div>
                <div class="my-8">
                    <div class="flex gap-2">
                    <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <defs>
                        <style>
                            .cls-1 {
                            fill: none;
                            }
                        </style>
                        </defs>
                        <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                        <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                        <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                        <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                    </svg>                
                    <span>توضیحات</span>
                    </div>
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                </div>
            </div>
            <a class="flex items-center justify-between px-4 py-3 text-base font-light text-center border-2 border-blue-700 text-blue-700 hover:bg-blue-100 focus:ring-2 focus:ring-blue-300" href="">
                <span>خرید و ثبت اشتراک</span>
                <svg fill="blue" class="w-7 h-7" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <defs>
                    <style>
                        .cls-1 {
                        fill: none;
                        }
                    </style>
                    </defs>
                    <circle cx="10" cy="28" r="2"/>
                    <circle cx="24" cy="28" r="2"/>
                    <path d="M4.9806,2.8039A1,1,0,0,0,4,2H0V4H3.18L7.0194,23.1961A1,1,0,0,0,8,24H26V22H8.82l-.8-4H26a1,1,0,0,0,.9762-.783L29.2445,7H27.1971l-1.9989,9H7.62Z" transform="translate(0)"/>
                    <polygon points="21.586 6.586 18 10.172 18 2 16 2 16 10.172 12.414 6.586 11 8 17 14 23 8 21.586 6.586"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
            </a>
        </div>
        <!-- subscription 2 -->
        <div class="p-4 m-2 border-2">
            <div class="flex justify-between border-b-2">
                <span class="text-xl font-bold">سه ماهه</span>
                <svg class="w-10 h-10" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <defs>
                    <style>
                        .cls-1{fill:none;}
                    </style>
                    </defs>
                    <title>
                    shopping--cart
                    </title>
                    <circle cx="10" cy="28" r="2"/>
                    <circle cx="24" cy="28" r="2"/>
                    <path d="M28,7H5.82L5,2.8A1,1,0,0,0,4,2H0V4H3.18L7,23.2A1,1,0,0,0,8,24H26V22H8.82L8,18H26a1,1,0,0,0,1-.78l2-9A1,1,0,0,0,28,7Zm-2.8,9H7.62L6.22,9H26.75Z"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
            </div>
            <div>
                <div>
                    قیمت:
                    <span class="underline">252</span>
                    هزار تومان
                </div>
                <div class="my-8">
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                </div>
            </div>
            <a class="flex items-center justify-between px-4 py-3 text-base font-light text-center border-2 border-blue-700 text-blue-700 hover:bg-blue-100 focus:ring-2 focus:ring-blue-300" href="">
                <span>خرید و ثبت اشتراک</span>
                <svg fill="blue" class="w-7 h-7" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <defs>
                    <style>
                        .cls-1 {
                        fill: none;
                        }
                    </style>
                    </defs>
                    <circle cx="10" cy="28" r="2"/>
                    <circle cx="24" cy="28" r="2"/>
                    <path d="M4.9806,2.8039A1,1,0,0,0,4,2H0V4H3.18L7.0194,23.1961A1,1,0,0,0,8,24H26V22H8.82l-.8-4H26a1,1,0,0,0,.9762-.783L29.2445,7H27.1971l-1.9989,9H7.62Z" transform="translate(0)"/>
                    <polygon points="21.586 6.586 18 10.172 18 2 16 2 16 10.172 12.414 6.586 11 8 17 14 23 8 21.586 6.586"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
            </a>
        </div>
        <!-- subscription 3 -->
        <div class="p-4 m-2 border-2">
            <div class="flex justify-between border-b-2">
                <span class="text-xl font-bold">سه ماهه</span>
                <svg class="w-10 h-10" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <defs>
                    <style>
                        .cls-1{fill:none;}
                    </style>
                    </defs>
                    <title>
                    shopping--cart
                    </title>
                    <circle cx="10" cy="28" r="2"/>
                    <circle cx="24" cy="28" r="2"/>
                    <path d="M28,7H5.82L5,2.8A1,1,0,0,0,4,2H0V4H3.18L7,23.2A1,1,0,0,0,8,24H26V22H8.82L8,18H26a1,1,0,0,0,1-.78l2-9A1,1,0,0,0,28,7Zm-2.8,9H7.62L6.22,9H26.75Z"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
            </div>
            <div>
                <div>
                    قیمت:
                    <span class="underline">252</span>
                    هزار تومان
                </div>
                <div class="my-8">
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                </div>
            </div>
            <a class="flex items-center justify-between px-4 py-3 text-base font-light text-center border-2 border-blue-700 text-blue-700 hover:bg-blue-100 focus:ring-2 focus:ring-blue-300" href="">
                <span>خرید و ثبت اشتراک</span>
                <svg fill="blue" class="w-7 h-7" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <defs>
                    <style>
                        .cls-1 {
                        fill: none;
                        }
                    </style>
                    </defs>
                    <circle cx="10" cy="28" r="2"/>
                    <circle cx="24" cy="28" r="2"/>
                    <path d="M4.9806,2.8039A1,1,0,0,0,4,2H0V4H3.18L7.0194,23.1961A1,1,0,0,0,8,24H26V22H8.82l-.8-4H26a1,1,0,0,0,.9762-.783L29.2445,7H27.1971l-1.9989,9H7.62Z" transform="translate(0)"/>
                    <polygon points="21.586 6.586 18 10.172 18 2 16 2 16 10.172 12.414 6.586 11 8 17 14 23 8 21.586 6.586"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
            </a>
        </div>
        <!-- subscription 4 -->
        <div class="p-4 m-2 border-2">
            <div class="flex justify-between border-b-2">
                <span class="text-xl font-bold">سه ماهه</span>
                <svg class="w-10 h-10" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <defs>
                    <style>
                        .cls-1{fill:none;}
                    </style>
                    </defs>
                    <title>
                    shopping--cart
                    </title>
                    <circle cx="10" cy="28" r="2"/>
                    <circle cx="24" cy="28" r="2"/>
                    <path d="M28,7H5.82L5,2.8A1,1,0,0,0,4,2H0V4H3.18L7,23.2A1,1,0,0,0,8,24H26V22H8.82L8,18H26a1,1,0,0,0,1-.78l2-9A1,1,0,0,0,28,7Zm-2.8,9H7.62L6.22,9H26.75Z"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
            </div>
            <div>
                <div>
                    قیمت:
                    <span class="underline">252</span>
                    هزار تومان
                </div>
                <div class="my-8">
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                    <div class="flex gap-2">
                        <svg id="icon" class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                }
                            </style>
                            </defs>
                            <polygon points="16 18 22 12 23.414 13.414 19.828 17 30 17 30 19 19.828 19 23.414 22.586 22 24 16 18"/>
                            <path d="M10,14a4,4,0,1,1,4-4A4.0045,4.0045,0,0,1,10,14Zm0-6a2,2,0,1,0,1.998,2.0044A2.002,2.002,0,0,0,10,8Z" transform="translate(0 0)"/>
                            <path d="M20.0586,26l-2.0007,2L4,13.9414V4h9.9417l6,6,1.4143-1.414-6.001-6A2,2,0,0,0,13.9414,2H4A2,2,0,0,0,2,4v9.9414a2,2,0,0,0,.5857,1.4141L16.6436,29.4146a2.001,2.001,0,0,0,2.8286,0l2.0006-2.0007Z" transform="translate(0 0)"/>
                            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                        </svg>                
                        <span>توضیحات</span>
                    </div>
                </div>
            </div>
            <a class="flex items-center justify-between px-4 py-3 text-base font-light text-center border-2 border-blue-700 text-blue-700 hover:bg-blue-100 focus:ring-2 focus:ring-blue-300" href="">
                <span>خرید و ثبت اشتراک</span>
                <svg fill="blue" class="w-7 h-7" id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <defs>
                    <style>
                        .cls-1 {
                        fill: none;
                        }
                    </style>
                    </defs>
                    <circle cx="10" cy="28" r="2"/>
                    <circle cx="24" cy="28" r="2"/>
                    <path d="M4.9806,2.8039A1,1,0,0,0,4,2H0V4H3.18L7.0194,23.1961A1,1,0,0,0,8,24H26V22H8.82l-.8-4H26a1,1,0,0,0,.9762-.783L29.2445,7H27.1971l-1.9989,9H7.62Z" transform="translate(0)"/>
                    <polygon points="21.586 6.586 18 10.172 18 2 16 2 16 10.172 12.414 6.586 11 8 17 14 23 8 21.586 6.586"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
            </a>
        </div>
    </div>
</div>
{% endblock content %}