{% load static %}

<!-- Define the HTML document structure -->
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <!-- Set character encoding and viewport settings -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Set the title of the page -->
    <title>{% block title %}{% endblock title %}</title>
    
    {% block link %}{% endblock link %}
    
    <link rel="stylesheet" href="{% static 'static_src/css/style.css' %}" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
</head>
<body>
    <header>
        {% block header %}{% endblock header %}
    </header>

    {% block content %}{% endblock content %}

    <footer>
        {% block footer %}{% endblock footer %}
    </footer>
</body>
</html>